<%
=begin%>
 <div id="<%= dom_id friend %>"> 
<%
=end%>

<div class="p-3 mb-2 bg-secondary bg-opacity-25 rounded" >
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= friend.last_name %>
  </h1>
  <p class="lead">
    <%= friend.email %> |
    <%= friend.phone %> |
    <%= friend.twitter %>
  </p>
  
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary btn-sm" %> |
  <%= link_to "Back", friends_path, class:"btn btn-dark btn-sm" %>
<br/><br/>
  <%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
</div>

<%
=begin%>
 </div>ß 
<%
=end%>
