<%
=begin%>
 <p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
 
<%
=end%>




  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <%
=begin%>
 <% if friend.user == current_user %> 
<%
=end%>
        <tr>
          <%
=begin%>
 <td>
<%= link_to friend.first_name + ' ' + friend.last_name, friend %>


          </td> 
<%
=end%>
          
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          
          
          
          
          <td> <%= link_to "Show", friend, class:"btn btn-outline-secondary btn-sm" %></td>
            <%
=begin%>
 <td><%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>  
<%
=end%>
          <%
=begin%>
 <td> <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-outline-secondary btn-sm" %></td>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td> 
<%
=end%>
 
        </tr>
        <%
=begin%>
 <% end %> 
<%
=end%>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add New Friend', new_friend_path, class:"btn btn-secondary" %>