<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
  <%= link_to 'Friend App', root_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
        <%= link_to "About Us", home_about_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
        <%= link_to "Friends", friends_path, class:"nav-link" %>
        </li> 
       
        <li class="nav-item">
        <%= link_to "Add Friend", new_friend_path, class:"nav-link" %>
        </li> 


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>